body{
  height:3000px
}

.inter-box {
  width:300px;
  height: 700px;
  margin-top: 1200px;
  background-color:rgb(120, 40, 120, 0.3);
  position: relative;
}

.inter-box-in {
  background-color: white;
  width: 40px;
  height: 20px;
  position: absolute;
  text-align:center;
}